body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 180px;  
}
header {
    background-color: #58411d52;
    color: #ffffffdc;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
}
header p {
    font-size: 1.2em;
    margin-top: 10px;
}
nav {
    background-color: #58411d00;
    color: #ffffffd2;
    padding: 0px;
    margin-top: 0px;
    text-align: left;
    margin-left: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #ffffffd0;
    font-weight: bold;
}
main {
    max-width: 800px;
    margin:  auto ;
    padding: 20px;
    transform: translateY(var(--translate-y, 0));
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;
    flex: 1;  
}
section {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease; 
    
}
section h2 {
    color: #ffffffd2;
    transition: color 0.3s ease;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
section p {
    color: #ffffff;
    line-height: 1.5;
}
form {
    margin-top: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: white;
}
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background: #d3a97fb0;
    
}

button {
    background-color: #805729e8;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 9px;
}

button:hover {
    background-color: #58411d73;
}

footer {
    background-color: #8f939600;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #805729;
}

